body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav__logo {
  height: 40px;
  margin-right: 32px;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  height: 44px;
  display: inline-flex;
  align-items: center;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

:root {
  --blue: #00ACDC;
}

:hover {
  --blue: #00ACDC;
}
