@font-face {
  font-family: Roboto;
  src: url('/src/fonts/Roboto_Condensed-Medium.ttf');
}

body {
  margin: 0;
  background-color: grey;
  font-family: Roboto;
}

.header {
  background-color: white;
}

.nav {
  display: flex;
  width: 100%;
  height: 60px;
}

.nav__logo {
  height: 40px;
  margin: 10px;
  display: flex;
}

.nav__link {
  text-decoration: none;
  margin: 10px;
  display: inline-flex;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: none;
  color: #00ACDC;
}
