@font-face {
  font-family: Roboto;
  src: url('/src/fonts/Roboto-Regular.ttf')
}

body {
  margin: 0;
  background-color: grey;
  font-family: Roboto;
}

.header {
  background-color: white;
  margin: 0 auto;
}

.nav {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center; /* niestety razem z logiem nav jest center */
  align-items: center; /* poprawnie ułoonowane w pionie */
}

.nav__logo {
  height: 40px;
  margin: 10px;
  margin-right: 32px;
}

.nav__link {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.nav__link:hover {
  /* text-decoration: underline; */
  color: #00ACDC;
}
